body{
    margin: 0;
}
*{
    box-sizing: border-box;
}
.container{
    width: 1280px;
    margin: 0 auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
}
.header{
    position: fixed;
}

.flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.flex-col {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}
.hidden {
    display: none !important;
}
.adress-item{
    text-decoration: none;
    color: black;
}
.adress-item:hover{
    color: #3c1fa3;
}

.flex-col {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}
.justify-between {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}
.items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}
.gap-5 {
    grid-gap: 20px !important;
    gap: 20px !important;
}
.telef{
    text-decoration: none;
    color: rgb(0, 39, 211);
    
}
.telef:hover{
    color: #3c1fa3;
   
}
.swiper-pointer-events {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}
.z-10 {
    z-index: 10 !important;
}
.py-21 {
    padding-top: 84px !important;
    padding-bottom: 84px !important;
}
.overflow-hidden {
    overflow: hidden !important;
}
.justify-between {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}
.flex-col {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}
.swiper-pointer-events{
    
    background:url(img/BG.png)no-repeat;
}
.w-full {
    width: 100% !important;
}


.slide-title p{
    background-image: linear-gradient(
        91.82deg, #37218E 15.25%, #D0116D 89.3%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}

.dut-pod{
    background: #D20373;
    border-radius: 90px;
    padding: 0 50px;
    height: 54px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.aos-animate{
    color: #D20373;
}
.hidden {
    display: none !important;
}

.w-full {
    width: 100% !important;
}
.text-blue {
    color: blue;
}
.text-3lg {
    font-size: 24px ;
}
.justify-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

hr{
    width: 72px;
    margin-left: 52px;
    margin-right: 52px;
}
.img{
   width: 684px;
   height: 338px;
}
.section-sale{
    align-items: center;
}

.map {
    position: relative;
}

iframe {
    max-width: 1920px;
    width: 100%;
    height: 938px;
    border-radius: 60px;
}

.footer__contacts {
    margin-top: 0;
}

.footer__contacts {
    position: absolute;
    top: 850px;
    left: 0;
    width: 100%;
}

.map_popap {
    position: absolute;
    top: 150px;
    left: 13.5%;
    background: #FFFFFF;
    border-radius: 9px;
    max-width: 549px;
    width: 100%;
    padding: 40px 117px 71px 73px;
}

.title_map_popap {
    font-size: 45px;
    margin-bottom: 54px;
}

.popap_item {
    display: flex;
    max-width: 283px;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 26px;
}

.popap_item:last-child {
    margin-bottom: 45px;
}

.popap_item img {
    margin-right: 18px;
}

.popap_item_text {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    /* black */

    color: #272C2F;
}

.btn__boidn_way {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 50px;
    width: 316px;
    height: 54.39px;
    background: #37218E;
    border-radius: 90px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
}

.btn__boidn_way img {
    margin-right: 16px;
}



.blu-block__wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blu-block {
    /* Blue */

    background: #37218E;
    padding-top: 42px;
}

.blu-block__container {
    max-width: 1485px;
    width: 100%;
}

.blu-block-text__title {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 37px;

    /* White */

    color: #FFFFFF;
    max-width: 680px;
    width: 100%;
    margin-bottom: 50px;
}

.blu-block-text_text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    max-width: 680px;
    width: 100%;
    margin-bottom: 35px;
}





@media screen and (min-width: 1024px){
.slide-title {
    font-size: 90px;
}
}

@media (min-width: 1280px){
    .container {
        max-width: 1244px;
        padding-left: 18px;
        padding-right: 18px;
    }
.xl\:flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
}


@media (min-width: 720px){
.md\:items-start {
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
}
.md\:flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.slide-title {
    font-size: 45px;
}
.md\:text-left {
    text-align: left !important;
}
.md\:mb-30 {
    
}
.md\:justify-start {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
}
.gradient-title {
    font-size: 60px;
}

}


@media (min-width: 480px){
.sm\:justify-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}
.slide-title {
    font-size: 36px;
}
}


.magazin{
    background-color: #37218E;
}
.grid_cont{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.grid_item{
    max-width: 290px;
    border-radius: 10px;
    margin: 0 auto;
}
.logo_img{    
    width: 100%;
}
.arrow{
    background-color: #37218E;
    padding: 15px;
    border-radius: 99px;
    position: relative;
    top: -14px;
    left: 30px;
}
.texting_info{
    padding: 30px 30px;
}
.time_and_floor{
    display: flex;
    gap: 20px;
}
.time{
    display: flex;
    gap: 10px;
}

.floor{
    display: flex;
    gap: 10px;
}
.cart-nav{
    padding-top: 20px;
    position: relative;
    overflow: hidden ;
} 
.grid_cont{
    background-color: #fff;
    flex-direction: column;
}




footer{
    padding: 60px 0 30px 0;
    background: #F5F1ED;
border-radius: 60px 60px 0px 0px;
}
.footer__wrapp {
    display: flex;
    justify-content: space-between;
}
.left_side img{
    margin-bottom: 29px;
}
.footer_text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #757575;
    max-width: 500px;
    width: 100%;
    margin-bottom: 22px;
}

.footer_link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #37218E;
}
.right_side{
   display: flex;
   align-items: flex-end; 
}
.wrapp__btn_arenda {
    background: #37218E;
    border-radius: 12px;
    display: flex;
    padding: 45px 66px 46px 67px;
    align-items: center;
    max-width: 565px;
    width: 100%;
}

.wrapp__btn-text {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    color: #FFFFFF;
    margin-right: 32px;
}
/* .general-btn.footer_btn{
   max-width: 225px;
   width: 100%;
} */
.end{
    font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 160%;
/* identical to box height, or 29px */


/* black */

color: #272C2F;
margin-top: 77px;
}